@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  * {
    @apply font-dmSans;
  }

  h1,
  h2,
  h3 {
    @apply font-poppins text-dark;
  }

  .txt {
    @apply text-[16px] text-dark/70 leading-[25px];
  }

  .container {
    @apply w-[90%] md:w-[80%] mx-auto;
  }
}

.boxShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
}

.navlink .active {
  @apply text-primary;
}

body {
  background: rgb(247, 247, 247);
}
